.toggle-btn i {
    font-size: 1.25rem;
    transition: transform 0.3s ease-in-out;
}

.toggle-btn[aria-expanded="true"] i {
    transform: rotate(45deg);
}

.card:hover {
    // background-color: rgba(0, 0, 0, 0.1); /* Adds a subtle dark overlay */
    // transition: background-color 0.3s ease; /* Smooth transition effect */
    transform: scale(1.02); /* Slightly enlarge the card for emphasis */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Add a stronger shadow on hover */
}

.modal-body {
    max-height: 400px;
    overflow-y: auto;
}


#scroll-to-top-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
    z-index: 999;
    cursor: pointer;
    background-color: #00356b;
}

#scroll-to-top-btn i {
    font-size: 1.5rem;
}
